.Header{
    height: 50px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

.Header a{
    text-decoration: none;
    color: cornflowerblue;
}

.Header a:hover{
    transition: 0.6s;
    scale: 0.9;
    color: mediumvioletred;
}

.Header a[class='active']{
    color: mediumvioletred;
}